<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    
    table {
      background-color: whitesmoke;
    }
    
  </style>
</head>
<body>
  <h1>Product Details</h1>
  <table>
    <tr>
      <td>Name:</td>
      <td><%= product.name %></td>
    </tr>
    <tr>
      <td>Price:</td>
      <td><%= product.price %></td>
    </tr>
    <tr>
      <td>Type:</td>
      <td><%= product.type %></td>
    </tr>
    <tr>
      <td>Net Volume:</td>
      <td><%= product.net_volume %></td>
    </tr>
  </table>

</body>
</html>